.row-point {
    border: 1px solid #999;
    padding: .5rem;
    border-bottom: none;
}

.row-point:last-child {
    border-bottom: 1px solid #999;
}

.point-name {
    white-space: nowrap;
    overflow-x: scroll;
}

.point-wrap a {

}

.student-img{
    overflow: scroll;
    /*width: 500px;*/
    /*height: 200px; ll*/
    width: 100%;
}

.point-text{
    overflow-x:auto;
}

.edit-box{
    background-color: aliceblue;
}